.quiz-card
{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #14213d;
    padding: 20px;
    border-radius: 15px;
    gap: 30px;
}
.quiz-top{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    background-color: #e5e5e5;
    padding: 5px;
    color: black;
    gap: 8px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/* quiz icon animation */
.quiz-icon{
    animation: quizIcon 3s infinite ease-in-out;
}

@keyframes quizIcon{
    0%{
        transform: rotate(0deg) scale(0.8)
    }
    50%{
        transform: rotate(-45deg) scale(1.1)
    }
    100%{
        transform: rotate(0deg) scale(0.8)
    }
}
.options
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.options button{
    background-color: #fca311;
    border: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}       
.options button:hover{
    transform: scale(1.06);
    background-color: #f1c47b;
    transition: all 0.2s ease-in-out;
}
.options button:active{
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}
