.box{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    gap: 20px;
    margin: 20px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
}