.todo-item{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
}
.todo-item .data
{
    display: flex;
    align-items: center;
    gap: 30px;
}

.todo-item .actions
{
    display: flex;
    align-items: center;
    gap: 5px;
}
