.main{
    display: flex;
    justify-content: space-between;
    height: 40px;
    color: white;
    padding: 10px;
    align-items: center;
    background-color: #14213d;
}

.main > select{
    width: fit-content;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
}
